/* Mobile First Grid
   ========================================================================== */
.cl { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .cl {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cl.full { width: 100%; }
  .cl.two-thirds { width: 66.7%; }
  .cl.half { width: 50%; }
  .cl.third { width: 33.3%; }
  .cl.fourth { width: 25%; }
  .cl.flow-opposite { float: right; }
}

