.navbar{
    background-color: #fff;
    height:100%;
}
.navbar .item{
    color:#fff;
    padding:15px;
    font-size:2em;
    display:inline-block;
}
.navbar .item.fa{
    padding: .4rem .6rem;
    font-size: 2rem;
}
.navbar .logo{
    
}
.navbar .logo img{

}
