/* Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 1.3rem;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  h1 { font-size: 1.5rem; }
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

p {
  color: #999;
  margin: 0 auto;
  max-width: 30rem;
}

blockquote { margin: 0; }

blockquote p {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1.5rem;
}

cite { color: #bbb; }